// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 5;
  }
  @include media-breakpoint-only(xl) {
    column-count: 6;
  }
}
